$neutral-lighten: #efefef;
$neutral: #595959;
$neutral-darken: #000;

$green-lighten: #56b7a1;
$green: #025f49;
$green-darken: #044133;

$blue-lighten: #6394d8;
$blue: #0348a7;
$blue-darken: #1a3f71;

$red-lighten: #e288a9;
$red: #dc2626;
$red-darken: #7f1d1d;
